.box_footer {
    height: 25%;
    width: 100%;
    margin-top: 1px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 5px 10px hsl(225, 20%, 60%);

    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_footer ul {
    list-style-image: url("../images/icon-check.svg");
    list-style-position: inside;
    text-align: center;
}

.box_footer li {
    margin: 5px 0px 2px 0;
}

.box_footer button {
    height: 45px;
    width: 180px;
    border: none;
    color: white;
    background-color: hsl(227, 35%, 25%);

    border-radius: 22px;
    margin-top: 1em;

    cursor: pointer;
    outline: none;
    align-self: center;
    font-size: 15px;
    font-weight: 400;
}