.meses {
    text-align: center;
    margin-top: 2em;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;       
}

.meses .desconto {
    padding: 3px 5px;
    font-weight: 800;
    color: hsl(15, 100%, 70%);
    border-radius: 30px;
    background-color: hsl(14, 92%, 95%);
 }

 .meses span, label {
     margin-left: 5px;
 }

 .switch {
     position: relative;
     height: 20px;
     width: 40px;
     display: inline-block;
     border-radius: 20px;
     background-color: hsl(174, 77%, 80%);
     cursor: pointer;
 }

 .switch input {
     position: absolute;
     left: 0;
     top: 0;
     opacity: 0;
     cursor: pointer;
 }

 .switch .slider {
     width: 16px;
     height: 16px;
     border-radius: 50%;
     position: absolute;
     background-color: white;
     top: 2px;
     left: -1px;
     transition: all 0.5s;
 }

 .switch input:checked + .slider {
    transform: translateX(18px);     
 }
