.top_page div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

h1 {
    color: hsl(227, 35%, 25%);
}

p {
    
    color:hsl(225, 20%, 60%);
}

.img_top_circle {
    position: absolute;
}