 .content1 {
    position: relative;
    top: -20%;
    margin-top: 2em;

    display: flex;

    font-size: 15px;
    font-weight: 800;
    color: hsl(225, 20%, 60%);
} 

.content1 span {
    margin: 5px;
}

 .content2 {
   margin-top: 2em;
}

.camposlider {
    appearance: none;
    height: 10px;
    width: 300px; 
    border-radius: 5px;
    outline: none;
    background: linear-gradient(90deg, hsl(174, 77%, 80%), hsl(174, 86%, 45%));
}

.camposlider::-webkit-slider-thumb:hover {
    box-shadow: 0px 10px 30px hsl(174, 86%, 45%);
    opacity: 1;
}

/* O componente -webkit-slider-thumb é executado em navegadores chrome  */
.camposlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%);
    background-image: url(../images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    
    background-size: 15px;
    cursor: pointer;
} 

/* O componente -moz-range-thumb é executado em navegadores firefox  */
.camposlider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: hsl(174, 86%, 45%);
    background-image: url(../images/icon-slider.svg);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 10px 30px hsl(174, 86%, 45%);
    background-size: 15px;
    cursor: pointer;
}

.content3 {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    transition: all 0.5s;

    margin-top: 2em;
}

.content3 span {
    display: inline-block;
}

.content3 span:first-of-type,
.content3 span:first-of-type span {
    color: hsl(227, 35%, 25%);
    font-size: 30px;
    line-height: 30px;
    font-weight: 800;
}

.content3 span:last-of-type {
    font-size: 15px;
    align-self: center;
    margin-left: 5px;
}


 /* .meses {
    position: relative;
    top: 20%;
    width: 90%;
    left: 7%;
 }

 .meses .label1 {
    font-size: 12px;
    color: hsl(225, 20%, 60%);
} */