.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 20px;
    margin: 0% 2% 0% 2%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 0;
    right: 0;
    bottom: -3px;
    background-color: hsl(226, 100%, 87%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* ------- input campo de desconto ----------- */
  .content4 .desconto {
    border: none;
    font-size: 12px;
    font-weight: bold;
    color: hsl(15, 100%, 70%);
    border-radius: 30px;
    background-color: hsl(14, 92%, 95%);
    text-align: center;
    margin-left: 2%;
    padding: 1.5%;
 }

 /* -----------------Labels do campo slider --------- */

